.addpage {
    margin: 10px 30px 10px 0px;
}

.addcathead {
    font-weight: 600;
    font-size: 20px;
}
.addcathead2 {
    font-weight: 600;
    font-size: 20px;
    padding-left: 20px;
}

.path {
    color: rgb(152, 150, 150);
    font-weight: 400;
    padding-left: 35px;
    font-size: 17px;
    padding-top: 5px;
    font-weight: 400;
}

.path span {
    color: rgb(0, 149, 255);
}
input{
    border-color: #a4a1a1 !important;
}
select{
    border-color: #a4a1a1 !important;
}
.inputbox {
    background-color: #fff;
    width: 100%;
    height: 550px;
    margin-top: 15px;
    border-radius: 20px;
    padding: 20px 30px;
    overflow-y: scroll;
}
.inputbox2{
    position: relative;
    background-color: #fff;
    width:100%;
    height: 550px;
    margin-top:15px;
    border-radius: 20px;
    overflow-x: scroll;
}


.serviceinputbox{
    position: relative;
    background-color: #fff;
    width:100%;
    height: 550px;
    margin-top:15px;

    overflow-x: scroll;
}

.Cname,
.Cimage {
    display: block;
    font-weight: 500;
    font-size: 17px;
}
.SGPbox{
    width: 100%;
    border: 1px solid #a4a1a1;
   height: 100px;
   margin-bottom:20px;
}
.headbox{
    width:100%;
    height:50px;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}
.silver{
    background-color: #989DA0;
}
.gold{
    background-color: #AC9B4B;
}
.platinum{
    background-color: #4E637B;
}
.SGPbox table tr td{
    width:100%;
}
.SGPbox table tr th{
    font-weight: 500;
    padding:0 20px;
}

.desptype{
    width:90%;
}

.Cinput {
    width: 50%;
    padding:10px 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px 0px 10px 0;
}

.savebtn {
    display: block;
    background-color: #0EC01B;
    color: #fff;
    border: none;
    padding: 10px 70px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.savebtn2 {
    display: block;
    background-color: #0EC01B;
    color: #fff;
    border: none;
    padding: 10px 120px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;

}
tr{
    height:50px !important;
    white-space: nowrap;
}
.listtable {
    width:120%; 
}
.servicelisttable{
    width:150%;
}

.listtable2 {
    width:100%; 
}
.listtable2 tr:nth-child(odd) {
    background-color: rgb(228, 228, 228); 
}

.listtable tr:nth-child(odd) {
    background-color: rgb(228, 228, 228); 
}
.servicelisttable tr:nth-child(odd) {
    background-color: rgb(228, 228, 228); 
}
.rowone{
    font-weight: 500;
}
.subselect{
    margin:20px !important;
    background-color: #e4e4e4;
    border-radius: 0px !important;
    font-weight: 600;
}

.subselect2{
    margin:0px 20px 20px 20px !important;
    background-color: #e4e4e4;
    border-radius: 0px !important;
    font-weight: 600;
}

.subselect option{
    background-color: #fff;
}
.subselect2 option{
    background-color: #fff;
}
.listtable tr td{
    padding:10px 15px;
    font-size:17px;
    text-align: center;
}
.listtable2 tr td{
    padding:10px 15px;
    font-size:17px;
    text-align: center;
}
.servicelisttable tr td{
    padding:10px 5px;
    font-size:17px;
    text-align: center;
}
.edit{
    color: blue;
    padding-right:15px;
    font-size:20px;
    cursor: pointer;
}
.delete{
    color: red;
    font-size:20px;
    cursor: pointer;
}
.eye{
    font-size:20px;
    cursor: pointer;
}
.categoryalign{
    display: flex;
    height:auto;
}
.rightobject{
    width: 100%;

}
.complete{
    color:#0EC01B;
    font-weight: 500;
}
.pending{
    color:#eb7906;
    font-weight: 500;
}
.cancelled, .Rejected{
    color:red;
    font-weight: 500;
}
.pagination{
    display: flex;
    justify-content:flex-end;
}
.pagination div{
    position: fixed;
    margin-top:50px;
    margin-right:20px ;
}
.showing{
    margin-left:20px;
    padding:10px;
}
.prevbtn{
    background-color: #ffffff;
    border-radius:5px 0 0 5px;
    font-size: 12px;
    padding:5px 15px;
    border: 1px solid #e4e4e4;
    color:#666565;
    height:40px;
   
}
.nxtbtn{
    background-color: #ffffff;
    border-radius: 0 5px 5px 0;
    font-size: 12px;
    padding:5px 15px;
    border: 1px solid #e4e4e4;
    color:#666565;
    height:40px;
}
.pageno{
    background-color: #fdcd3b;
    padding:0px 20px;
    border: none;
    color:#ffffff;
    height:40px;
    font-weight: 600;
    
}
.right{
    background-color: #0EC01B;
    color: #ffffff;
    width:24px;
    height:24px;
    padding-top:3px;
    border-radius:5px;
    cursor: pointer;
}
.wrong{
    background-color:red;
    color: #ffffff; 
    width:24px;
    height:24px;
    padding-top:3px;
    margin-left:15px;
    border-radius:5px;
    cursor: pointer;
}
.yesbtn{
    background-color: #0EC01B;
    border: none;
    width:150px;
    color: #ffffff;
    padding:5px;
    font-size:25px;
    border-radius:5px;
    margin:30px 0 50px 10px;
    cursor: pointer;
}
.Nobtn{
    background-color: #ffffff;
    border:1px solid #0EC01B;
    width:150px;
    color: #0EC01B;
    padding:5px;
    font-size:25px;
    border-radius:5px;
    margin:30px 0px 50px 100px;
    cursor: pointer;
}
.rejectyes{
    background-color: red;
}
.rejectno{
 color: red;
 border:1px solid red;
}
.ques{
    margin:50px 10px 0 10px;
}
.modalclose{
    background-color: transparent;
    border: none;
    position: relative;
    right:10px;
}
.modalclose .wrong{
    position:absolute;
    left:400px;
}
.username, .userpass{
    display: block;
    font-size:20px;
    font-weight: 500;
    padding-bottom:5px;
}
.inputfelx{
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;
}
.userinput{
    width:400px;
    height:60px;
    border-radius:5px;
    border: 1px solid rgb(118, 118, 118);
}
.incheck{
    position: relative;
    top:5px;
    width:25px;
    height:25px;
    margin-right:10px;
    margin-top:10px;
}
.checkalign{
    margin-left:50px !important;
}
.subadminhead{
    color: #fdcd3b;
    margin-bottom:20px;
}
.adminbtn{
    display: flex;
    justify-content: center;
    margin-top:40px;
}
.closeimagemodal{
    position: fixed;  
    border:none;
    color: #000000;
    font-weight: bold;
}
.subcat{
    font-size:18px;
    background-color: 100%;
}
.selectcategory{
    width:50%;
    height:50px;
    border-radius:5px;
    margin-top:5px;
    margin-bottom:10px;
}
.selectcategorytable{
    width:90%;
    height:50px;
    border-radius:5px;
    margin-top:5px;
    margin-bottom:10px;
}
.inputTable tr th{
    font-size: 20px;
    font-weight: 500;
}
.servicetable{
     width:100%;
}
.servicetable td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.serialservice{
    width: 10%;
}
.servicelisticon{
    font-size: 25px !important;
    cursor: pointer;
}
.fa-square-check{
    color: #0EC01B;
    padding-right:15px;
    font-size:22px;
    cursor: pointer;
}
.fa-rectangle-xmark{
    color:red;
    font-size:22px;  
    cursor: pointer; 
}
.card_bg{
    background-color:#ffffff;
    margin:10px;
    box-shadow: 0px 0px 2px #cbcbcb;
    width:100%;
    padding-bottom:20px;
    margin-top:40px;
}
.card_color{
    background-color: #fdcd3b;
    height:100px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.card_color p{
    margin-top:-10px;
}

.vendorImage{
    height:120px;
    width:120px;
    border-radius:50%;
    margin-top:30px;
}

.vendorbox{
    overflow-y: scroll;
}
.lowerText{
    margin-top: 120px;
    padding-left:20px;
    width: 100%;
   
}
.lowerText div{
    font-weight: 500;
}
.lowerText div span{
    font-weight: 400;
    padding-left:20px;
    overflow-wrap: break-word;
    width: 100px !important;
}

.cardBtn{
    display: flex;
    margin-top:20px;
}
.Acceptbtn{
    background-color: #0EC01B;
    color: #ffffff;
    border: none;
    padding:5px 10px;
    border-radius:5px;
    margin-left:20px;
}
.Rejectbtn{
    background-color: red;
    color: #ffffff;
    border: none;
    padding:5px 10px;
    border-radius:5px; 
    margin-left:20px;
}
.inputTable{
    width: 100%;
}
.selectLine{
    border-bottom: 1px solid black;
    width:115px;
    margin-bottom:20px;
    margin-left:5px;
    margin-right:5px;
}
.servicebox{
    padding:20px;
}
.serviceTypeWidth{
    width:50%;
}
.imageModal{
    width:auto;
    height:400px;
    margin:10px;
    
}
.imageModalClose{
    position: absolute;
    top:0px;
    right:0px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    cursor: pointer;
    width:30px;
    height: 30px;
    color: #fff;
    font-size:20px;
    font-weight: 600;
}
