.screenbg {
    height:100%;
    display: flex;
    
    
}

.dashbox {
    display: flex;
}

.sidebar {
    background-color: #FFB71E;
    width: auto;
}


.sidebox {
    width: 250px !important;
}

.logoimg {
    width: 50px;
    height: auto;
}

.logoset {
    padding: 10px 30px;
    width:250px;
}

.logoset span {
    position: relative;
    top: 5px;
    left: 15px;
    font-weight: bold;
    font-size: 25px;
}

.dashhead {
    font-size: 22px;
    font-weight: 500;
    padding: 5px  0 5px 20px;
    margin: 70px 0 20px 0;
    color: black;

}

.subhead {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    cursor: pointer;
}

.subhead:hover {
    color: #fff;
    background-color: #fdcd3b;
    width: 100%;
}

.BookingList li {
    color: #fff;
    background-color: #fdcd3b;
    list-style-type: none;
    margin-left: -32px;
    padding-left: 40px;
    padding-bottom: 10px;
}

.BookingList li:hover {
    font-weight: 500;
}

.dflex {
    display: flex;
}
.BookingList a{
    text-decoration: none;
}
.gripbtnside{
    width:30px;
    height:60px;
    background-color: #fdcd3b;
    border: none;
    font-size:25px;

}

.dashhead:hover{
    background-color: #fdcd3b;
    color: #fff;
}
.sidebar a{
    text-decoration: none;
    cursor: pointer;
}
